# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/

# Spyder IDE
.spyderproject
.spyproject

# Rope project
.ropeproject

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Local config
config/local_config.py


modify_dataset.py
data/scene_datasets/
data/versioned_data/
data/humanoids/
exp_results/
uninavid/
following_info.json
human_description_reid.json
human_description.json
model_zoo
